* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          /*border: 1px dotted red;*/
}

a {
  text-decoration: none;
  color: grey;
}

.black-text {
  color: black;
}

.background   {
  background: url(../assets/background.jpg);
  text-align: center;
  background-position: 0% 9%;
  padding: 8.5%;
}

.background > h1  {
  font-size: 18pt;
  color: white;
}

.background > img {
  margin: none;
  width: 100%;
}

.padding-janky  {
  padding-top: 4%;
  margin-bottom: 0%;
}

.padding-janky2  {
  padding-bottom: 4%;
}

li {
  list-style: none;
}
.offers  {
  text-align: center;
}
.offer  {
  display: inline-block;
  border: 1px solid grey;
  margin: 20px;
}

.offer li {
  border: 1px solid grey;
}

.green-bg  {
  color: white;
  background: #519251;
}

.blue-bg  {
  color: white;
  background: #2c4985;
}

.black-bg  {
  color: white;
  background: #111111;
}
