* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          font-family: 'Roboto', sans-serif;
          /*border: 1px dotted red;*/
}

.font-norm  {
  font-size: 10pt;
  font-weight: 600;
}

.nav  {
  padding: 5px;
}

.nav-center  {
  margin: 0;
  padding: 0;
}

.nav-center  li {
  display: inline-block;
}

.logo  {
font-weight: bolder;
margin-left: 10px;
}

.home  {
  margin-left: 32px;
}

.pricing  {
  margin-left: 25px;
}

.contact  {
  margin-left: 25px
}

a {
  text-decoration: none;
  color: grey;
}

.black-text {
  color: black;
}

.background   {
  background: url(../assets/background.jpg);
  text-align: center;
  max-width: 100%;
  background-position: 0% 15%;
  padding: 6.5%;
}

/*.bg-image  {
  height: 300px;
}

.bg-image > img  {

  max-height: 100%;
}*/

.background > h1  {
  font-size: 18pt;
  color: white;
}

.background > img {
  margin: none;
  width: 100%;
}

.padding-align  {
  padding-top: 4%;
  margin-bottom: 0%;
}

.padding-align2  {
  padding-bottom: 4%;
}

li {
  list-style: none;
}
.offers  {
  text-align: center;
  font-size: 0;
}
.offer  {
  display: inline-block;
  border: 1px solid grey;
  margin: 4%;
  font-size: 12pt;
}

.offer ul {
  margin: 0px;
}

.offer li {
  border: 1px solid grey;
}

.price  {
  font-size: 72pt;
}


.green-bg  {
  color: white;
  background: #519251;
  padding: 11%;
}

.blue-bg  {
  color: white;
  background: #2c4985;
  padding: 11%;
}

.black-bg  {
  color: white;
  background: #111111;
  padding: 11%;
}

.grey  {
  color: grey;
}

.grey-bg  {
  background: #f7f7f7;
  padding: 0;
}

.grey-bg > li  {
  padding: 3% 20px;
}

.psuedo-button  {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 3% 7%;
  font-weight: bold;
}

.button-margin  {
  margin: 10%;
}

.blurbs  {
  text-align: left;
}

.blurb  {
  display: inline-block;
  width: 30%;
  margin: 8%;
}

footer  {
  background: black;
  text-align: center;
  padding: 15px;
}
footer > p {
  color: grey;
}

footer > p > a {
  color: white;
  text-decoration: underline;
}
